# OpenWeather에서 발급받은 API Key를 .env.local 파일에 입력하세요.
VITE_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY

# Unsplash Developers에서 발급받은 Access Key를 입력하세요.
VITE_UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_ACCESS_KEY
